.dropdown {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    padding: 8px;
    flex-direction: column;

    &__content {
        display: flex;
        font-family: 'Montserrat medium';
        font-weight: 400;
        font-size: 24px;
        padding: 5px 20px;
        color: #ff6060;
        background-color: #f7f7f7;
        border-radius: 5px;
    }

    &__unwrapped {
        width: 100%;
        background: #ff6060;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
    }

    &__title {
        font-family: 'Montserrat medium';
        padding: 10px;
        font-size: 24px;
    }

    &__arrow {
        color: white;
        height: 20px;
        scale: 2;
        display: flex;
        padding: 10px 0;
        position: relative;

        &--up {
            rotate: 90deg;
            right: 35px;
        }
        &--down {
            rotate: -90deg;
            right: 25px;
        }
    }
}

.smallText { 
    font-size: 18px;
}

@media (max-width: 768px) {
    .dropdown {
        padding: 5px 0;
        margin: 10px 0;
        &__title {
            font-size: 13px;
        }
        &__content {
            font-size: 13px;
            line-height: 17px;
        }
    }
}