.carousselWrapper {
    width: 100%;
    height: auto;
}

.ficheInfo {
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__LContainer {
        width: max-content;
        display: flex;
        flex-direction: column;
    }

    &__RContainer {
        width: min-content;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__title {
        font-family: "Montserrat medium";
        color: #ff6060;
        font-size: 36px;
        margin: 10px 0;
    }

    &__underTitle {
        font-family: "Montserrat medium";
        color: #ff6060;
        font-size: 18px;
        margin: 10px 0;
        padding-bottom: 10px;
    }

    &__rating {
        display: flex;
        flex-flow: row nowrap;
        padding-top: 10px;
    }

    &__dropdown {
        display: flex;
        flex-flow: row;
    }
}

.star {
    padding: 0 4px;
}

.hostPicture {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
}

.hostContainer {
    display: flex;
    flex-direction: row;
}

.hostName {
    font-family: "Montserrat medium";
    color: #ff6060;
    font-size: 18px;
    display: flex;
    width: min-content;
    align-items: center;
    padding-right: 15px;
}

.hostImg {
    object-fit: contain;
    object-position: center;
    position: relative;
    right: 50%;
    scale: 0.5;
    bottom: 50%;
}

@media (max-width: 768px) {
    .ficheInfo {
        &__wrapper {
            flex-direction: column;
        }
        &__RContainer {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        &__dropdown {
            flex-flow: column;
        }
        &__title { 
            font-size: 18px;
        }
        &__underTitle {
            font-size: 14px;
        }
    }
    .hostContainer  { 
        scale: 0.8;
    }
    .hostName { 
        font-size: 12px;
    }

    .star {
        padding: 0 2px;
        transform: scale(0.7);
    }
    
}