.galleryContainer {
    margin-top: 25px;
    border-radius: 25px;
    background-color: #f6f6f6;
}

.galleryText {
    font-family: 'Montserrat medium';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.galleryMaskGroup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    height: auto;
    padding-top: 35px;
}

.galleryImg, .galleryImgAbout {
    filter: brightness(70%);
    overflow: hidden;
    border-radius: 25px;
}

.galleryText {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    z-index: 1;
}

.tilePlacement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .galleryText {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
        padding: 0 50px 0 10px;
    }
    .galleryImgAbout { 
        border-radius: 10px;
        object-fit: cover;
        height: 200px;
    }
    .galleryImg { 
        border-radius: 10px;
        object-fit: cover;
        height: 110px;
    }
    .galleryContainer { 
        margin-top: 22px;
    }
}