.text404, .textNotFound, .redirectHome {
    display: flex;
    color: #ff6060;
    font-family: 'Montserrat medium';
    align-items: center;
    justify-content: center;
}

.text404 {
    margin-top: 25px;
    font-size: 244px;
    font-weight: 700;
}

.textNotFound {
    font-size: 36px;
    font-weight: 500;
}

.redirectHome {
    margin-top: 150px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .text404 { 
        font-size: 96px;
        margin-top: 10vh;
    }
    .textNotFound { 
        font-size: 18px;
        text-align: center;
    }
    .redirectHome { 
        font-size: 14px;
    }
}