.tileText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Montserrat medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-self: flex-end;
    color: #FFFFFF;
}

.tileContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 20px;
    width: 340px;
    height: 340px;
    background: #FF6060;
    border-radius: 10px;
}

.tileCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: inset 0 -100px 10px -10px #000;
}

.tile::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 -90px 30px -10px rgb(0 0 0 / 25%);
    border-radius: 10px;
   } 

.tile {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}